pkgbase = kanata-notifier
	pkgdesc = TCP notification bridge for Kanata
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/danielaca18/kanata-notifier
	arch = any
	license = MIT
	depends = jq
	depends = net-tools
	depends = libnotify
	depends = kanata
	source = kanata-notifier.sh
	source = kanata-notifier.service
	source = LICENSE
	sha256sums = 853053ddccf2751715bbcc1b4f600043a00eb58946f0763374e1ecba0f7050c8
	sha256sums = ddd77945b00bf48040448db7d1a8dc2c12d345ccedb41dc98f0a5406b96fcd5f
	sha256sums = 580c8b75eb40e4a9060067c4a62ad09f4871dfa1b2d8da1aecbdebcca7a3e263

pkgname = kanata-notifier
